<% layout("layouts/boilerplate") %>
<h1>All accommodations</h1>
<div>
  <a href="/accommodations/new">Add accommodation</a>
</div>
<ul>
  <% for(const accommodation of accommodations) { %>
  <li>
    <a href="/accommodations/<%= accommodation._id %>">
      <%= accommodation.title %>
    </a>
  </li>
  <% } %>
</ul>
